* {
    box-sizing: border-box;
  }
  
  input:focus {
   border: 2px solid orangered;
   outline: none;
  }
  
  body {
    background: linear-gradient(0.25turn, rgb(244, 244, 79), rgb(218, 84, 1));
  }
  
  input {
   display: block;
   background-color: rgba(100, 99, 99, 0.324);
   border: 0;
   height: 40px;
   width: 300px;
   border-bottom: 2px solid orangered;
   padding-left: 10px;
  }
  
  .search-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 20%;
    position: relative;
  }

  .search-container .suggestions {
    position: absolute;
    top: 0;
    margin-top: 40px;
    max-height: 200px;
    overflow-y: scroll;
    width: 300px;
  }
  
  ul {
    margin: 0;
    padding: 0;
  }

  .suggestions::-webkit-scrollbar {
    width: 0.5em;
}
 
.suggestions::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
 
.suggestions::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}

  ul li {
    display: block;
    background-color: rgba(100, 99, 99, 0.324);
    list-style-type: none;
    padding: 10px;
  }
  ul li:hover {
    background-color: rgba(183, 70, 1, 0.799);
    font-weight: bold;
  }