* {
    box-sizing: border-box;
  }
  
  :focus {
   border: 2px, solid, red;
  }
  
  body {
    background: linear-gradient(0.25turn, rgb(244, 244, 79), rgb(218, 84, 1));
  }
  
  input {
   background-color: rgba(100, 99, 99, 0.324);
   border: 0;
   height: 40px;
   width: 300px;
   border-bottom: 1px, solid, orangered;
  }
  
  .search-container {
   /* TODO */
  }
  .search-container input,
  .search-container .suggestions {
    /* TODO */
  }
  .search-container input {
   /* TODO */
  }
  .search-container .suggestions {
     /* TODO */
  }
  
  ul {
    /* TODO */
  }
  ul.has-suggestions {
    /* TODO */
  }
  ul li {
    background-color: rgba(100, 99, 99, 0.324);
    height: 40px;
    width: 300px;
    list-style-type: none;
  }
  ul li:hover {
    background-color: rgba(183, 70, 1, 0.799);
    font-weight: bold;
  }
  
  input {
     /* TODO */
  }